#main-title {}


.block-menu {}
.block-button {
  width: 80%;
  border: 2px solid black;
}
#block-button-video-games {
  background-image: Url("")
}
#block-button-music {
  background-image: Url("")
}
#block-button-github {
  background-image: Url("")
}
#block-button-mech-keyboards {
  background-image: Url("")
}
